<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--测试使用-->
<mapper namespace="cn.forage.dao.StudentDao">
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache" />-->
    <select id="findById" parameterType="int" resultType="cn.forage.model.Student">
        SELECT * FROM student WHERE uid=#{uid}
    </select>
    <select id="findByAge" parameterType="int" resultType="cn.forage.model.Student">
        SELECT * FROM student WHERE age=#{age}
    </select>
    <delete id="deleteById" parameterType="int">
        DELETE FROM student WHERE uid=#{uid}
    </delete>
    <!--keyProperty 表示返回的主键 -->
    <insert id="insert" keyProperty="uid"  parameterType="cn.forage.model.Student">
--   INSERT INTO student(name,age) VALUES(#{name},#{age})
        INSERT INTO student(name) VALUES(#{name})
    </insert>
</mapper>